# Data Collection/Cleaning/Preparation

## Collection

In [114]:
import numpy as np
import pandas as pd

In [115]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [116]:
netflix_movies_df = pd.read_csv('./data/netflix_titles.csv')
amazon_movies_df = pd.read_csv('./data/amazon_titles.csv')
disney_movies_df = pd.read_csv('./data/disney_titles.csv')
hbo_movies_df = pd.read_csv('./data/hbo_titles.csv')
hulu_movies_df = pd.read_csv('./data/hulu_titles.csv')
paramount_movies_df = pd.read_csv('./data/paramount_titles.csv')

In [117]:
netflix_movies_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,395024.0,17.770,7.800
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",['US'],NaN,tt0066999,7.7,155051.0,12.817,7.500
8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,"['crime', 'drama', 'action']",['US'],NaN,tt0061418,7.7,112048.0,15.687,7.500
9,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,"['romance', 'action', 'drama']",['US'],NaN,tt0080453,5.8,69844.0,50.324,6.156

In [118]:
netflix_movies_df['platform'] = 'netflix'
disney_movies_df['platform'] = 'disney'
paramount_movies_df['platform'] = 'paramount'
hulu_movies_df['platform'] = 'hulu'
hbo_movies_df['platform'] = 'hbo'
amazon_movies_df['platform'] = 'amazon'

In [119]:
amazon_movies_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,platform
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6,amazon
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,amazon
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8,amazon
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4,amazon
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6,amazon
5,tm160494,Stagecoach,MOVIE,A group of people traveling on a stagecoach fi...,1939,NaN,96,"['western', 'drama']",['US'],NaN,tt0031971,7.8,48149.0,11.786,7.7,amazon
6,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,444243.0,26.495,8.3,amazon
7,tm19424,Detour,MOVIE,"The life of Al Roberts, a pianist in a New Yor...",1945,NaN,66,"['thriller', 'drama', 'crime']",['US'],NaN,tt0037638,7.3,17233.0,7.757,7.2,amazon
8,tm116781,My Man Godfrey,MOVIE,"Fifth Avenue socialite Irene Bullock needs a ""...",1936,NaN,95,"['comedy', 'romance', 'drama']",['US'],NaN,tt0028010,8.0,23532.0,8.633,7.6,amazon
9,tm112005,Marihuana,MOVIE,A young girl named Burma attends a beach party...,1936,NaN,57,"['crime', 'drama']",['US'],NaN,tt0026683,4.0,864.0,3.748,3.6,amazon

In [120]:
dfs = [netflix_movies_df, amazon_movies_df, hulu_movies_df, hbo_movies_df, paramount_movies_df, disney_movies_df]

movies_df = netflix_movies_df._append(amazon_movies_df, ignore_index = True)._append(hulu_movies_df, ignore_index = True)._append(hbo_movies_df, ignore_index = True)._append(paramount_movies_df, ignore_index = True)._append(disney_movies_df, ignore_index = True)

In [121]:
movies_df.shape

(25773, 16)

In [122]:
movies_df = movies_df[movies_df['production_countries'] == '[\'US\']']

In [123]:
# Replace commas with hyphens in the string
movies_df['production_countries'] = movies_df['production_countries'].str.replace('[', '')
movies_df['production_countries'] = movies_df['production_countries'].str.replace(']', '')
movies_df['production_countries'] = movies_df['production_countries'].str.replace('\'', '')

In [124]:
movies_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,platform
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],US,1.0,NaN,NaN,NaN,0.600,NaN,netflix
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",US,NaN,tt0075314,8.2,808582.0,40.965,8.179,netflix
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",US,NaN,tt0068473,7.7,107673.0,10.010,7.300,netflix
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",US,NaN,tt0066999,7.7,155051.0,12.817,7.500,netflix
8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,"['crime', 'drama', 'action']",US,NaN,tt0061418,7.7,112048.0,15.687,7.500,netflix
9,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,"['romance', 'action', 'drama']",US,NaN,tt0080453,5.8,69844.0,50.324,6.156,netflix
11,tm67378,The Professionals,MOVIE,An arrogant Texas millionaire hires four adven...,1966,PG-13,117,"['western', 'action', 'european']",US,NaN,tt0060862,7.3,16446.0,13.123,7.100,netflix
12,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"['comedy', 'documentation']",US,NaN,tt0079807,8.1,5141.0,4.718,7.500,netflix
13,tm16479,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,NaN,115,"['romance', 'comedy']",US,NaN,tt0047673,7.5,42488.0,8.915,7.200,netflix
16,tm156453,FTA,MOVIE,A documentary about a political troupe headed ...,1972,R,97,"['war', 'documentation', 'music', 'comedy']",US,NaN,tt0068562,6.2,418.0,1.268,6.100,netflix

In [125]:
movies_df.shape

(13708, 16)

In [126]:
movies_df['platform'].describe()

count      13708
unique         6
top       amazon
freq        4810
Name: platform, dtype: object

## Cleaning

In [127]:
movies_df.shape

(13708, 16)

In [128]:
movies_df.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'platform'],
      dtype='object')

In [129]:
movies_df = movies_df[['title', 'type', 'description', 'genres','release_year', 'imdb_score', 'tmdb_score', 'platform']]

In [130]:
movies_df.isnull().sum()

title              0
type               0
description       31
genres             0
release_year       0
imdb_score      1212
tmdb_score      1393
platform           0
dtype: int64

In [131]:
movies_df.dropna(inplace=True)

In [132]:
movies_df.shape

(11380, 8)

In [133]:
movies_df.duplicated().sum()

1

In [134]:
movies_df.iloc[0]

title                                                 Taxi Driver
type                                                        MOVIE
description     A mentally unstable Vietnam War veteran works ...
genres                                         ['drama', 'crime']
release_year                                                 1976
imdb_score                                                    8.2
tmdb_score                                                  8.179
platform                                                  netflix
Name: 1, dtype: object

In [135]:
movies_df = movies_df.groupby(['title', 'type', 'description', 'genres', 'release_year', 'tmdb_score', 'imdb_score'])['platform'].apply(', '.join).reset_index()

In [136]:
movies_df[movies_df['title'] == 'Mission: Impossible II']

,title,type,description,genres,release_year,tmdb_score,imdb_score,platform
5170,Mission: Impossible II,MOVIE,With computer genius Luther Stickell at his si...,"['thriller', 'action']",2000,6.1,6.1,netflix

## Preparation

In [137]:
movies_df.head(5)

,title,type,description,genres,release_year,tmdb_score,imdb_score,platform
0,#GeorgeWashington,MOVIE,Meet the Father of Our Country in a whole new ...,['documentation'],2017,4.0,5.3,hbo
1,#Lucky Number,MOVIE,"Made for TV movie based on a true story, an as...",['comedy'],2015,4.8,5.0,amazon
2,#Rucker50,MOVIE,The celebratory explosion of basketball histor...,['documentation'],2016,3.7,5.2,netflix
3,#SquadGoals,MOVIE,Ambitious high school senior Samantha Hodges i...,"['thriller', 'drama']",2018,4.5,4.2,amazon
4,#Stuck,MOVIE,A hot one-night stand turns into an awkward mo...,"['romance', 'comedy', 'drama']",2014,5.5,5.6,amazon

# Machine Learning

## Installations

In [138]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

## Feature Extraction

In [139]:
ps = PorterStemmer()

In [140]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [141]:
reference_df = movies_df
movies_df['description'] = movies_df['description'].apply(stem)
movies_df['genres'] = movies_df['genres'].apply(stem)

In [142]:
def combine_features(data):
    features=[]
    for i in range(0, data.shape[0]):
        # features.append(data['description'][i] + ' ' + data['genres'][i] + ' ' + str(data['release_year'][i]) + ' ' + str(data['imdb_score'][i]) + ' ' + str(data['tmdb_score'][i]))
        features.append(data['description'][i] + ' ' + data['genres'][i] + ' ' + str(data['release_year'][i]))
    return features

In [143]:
movies_df['combined'] = combine_features(movies_df)

In [144]:
cv = CountVectorizer(max_features=100000,stop_words='english')

In [145]:
# vectors1 = cv.fit_transform(movies_df['description']).toarray()
vectors1 = cv.fit_transform(movies_df['combined'])

In [146]:
vectors1[0]

<1x25432 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [147]:
similarity = cosine_similarity(vectors1)

In [148]:
similarity.shape

(9978, 9978)

In [149]:
similarity[0]

array([1.        , 0.09837388, 0.0352235 , ..., 0.03279129, 0.03335187,
       0.0513158 ])

In [150]:
similarity.shape

(9978, 9978)

In [151]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(9645, 0.2884299752006152),
 (1910, 0.2854716408418839),
 (9524, 0.27713699773684664),
 (4116, 0.2657423679108717),
 (9905, 0.2657423679108717)]

## Recommender

In [152]:
def recommend(movies_df, film_type, movie, platforms):
    movie_index = movies_df[movies_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:25]
    recommends = []
    count = 0
    for i in movie_list:
        if count != 5:
            if movies_df.iloc[i[0]].platform in platforms:
                if movies_df.iloc[i[0]].type == film_type:
                    recommends.append(movies_df.iloc[i[0]])
                    print(movies_df.iloc[i[0]])
                    count += 1
        else:
            break
    return recommends

In [156]:
recommend(movies_df,'MOVIE','The Matrix', ['netflix','hulu','hbo'])

title                          Lawnmower Man 2: Beyond Cyberspace
type                                                        MOVIE
description     jobe is resuscit by jonathan walker. he want j...
genres                            ['scifi', 'thriller', 'action']
release_year                                                 1996
tmdb_score                                                    2.9
imdb_score                                                    2.5
platform                                                      hbo
combined        jobe is resuscit by jonathan walker. he want j...
Name: 4504, dtype: object
title                                           Godzilla vs. Kong
type                                                        MOVIE
description     in a time when monster walk the earth, humanit...
genres                 ['scifi', 'action', 'fantasy', 'thriller']
release_year                                                 2021
tmdb_score                                                    7.8
imdb_score                                                    6.3
platform                                                      hbo
combined        in a time when monster walk the earth, humanit...
Name: 3241, dtype: object
title                                          Cocoon: The Return
type                                                        MOVIE
description     the reinvigor elderli group that left earth co...
genres                             ['scifi', 'comedy', 'romance']
release_year                                                 1988
tmdb_score                                                    6.1
imdb_score                                                    5.4
platform                                                      hbo
combined        the reinvigor elderli group that left earth co...
Name: 1852, dtype: object
title                                    The Matrix Resurrections
type                                                        MOVIE
description     plagu by strang memories, neo' life take an un...
genres                                        ['scifi', 'action']
release_year                                                 2021
tmdb_score                                                    6.7
imdb_score                                                    5.7
platform                                                      hbo
combined        plagu by strang memories, neo' life take an un...
Name: 8332, dtype: object

[title                          Lawnmower Man 2: Beyond Cyberspace
 type                                                        MOVIE
 description     jobe is resuscit by jonathan walker. he want j...
 genres                            ['scifi', 'thriller', 'action']
 release_year                                                 1996
 tmdb_score                                                    2.9
 imdb_score                                                    2.5
 platform                                                      hbo
 combined        jobe is resuscit by jonathan walker. he want j...
 Name: 4504, dtype: object,
 title                                           Godzilla vs. Kong
 type                                                        MOVIE
 description     in a time when monster walk the earth, humanit...
 genres                 ['scifi', 'action', 'fantasy', 'thriller']
 release_year                                                 2021
 tmdb_score                                                    7.8
 imdb_score                                                    6.3
 platform                                                      hbo
 combined        in a time when monster walk the earth, humanit...
 Name: 3241, dtype: object,
 title                                          Cocoon: The Return
 type                                                        MOVIE
 description     the reinvigor elderli group that left earth co...
 genres                             ['scifi', 'comedy', 'romance']
 release_year                                                 1988
 tmdb_score                                                    6.1
 imdb_score                                                    5.4
 platform                                                      hbo
 combined        the reinvigor elderli group that left earth co...
 Name: 1852, dtype: object,
 title                                    The Matrix Resurrections
 type                                                        MOVIE
 description     plagu by strang memories, neo' life take an un...
 genres                                        ['scifi', 'action']
 release_year                                                 2021
 tmdb_score                                                    6.7
 imdb_score                                                    5.7
 platform                                                      hbo
 combined        plagu by strang memories, neo' life take an un...
 Name: 8332, dtype: object]

## Testing

In [154]:
def recommendation_accuracy(df, type, title, platforms):
    recommends = recommend(df, type, title, platforms)
    total = len(recommends)
    count = 0
    for x in recommends:
        if movies_df[movies_df['title']==x].type.values[0] == type:
            count += 0.5
        if movies_df[movies_df['title']==x].platform.values[0] in platforms:
            count += 0.5
    return "%.0f%%" % (100 * count/total)

In [155]:
recommendation_accuracy(movies_df,'MOVIE','The Matrix', ['hulu', 'netflix'])

ZeroDivisionError: division by zero