# Data Collection/Cleaning/Preparation

## Collection

In [174]:
import numpy as np
import pandas as pd

In [175]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [176]:
netflix_movies_df = pd.read_csv('./data/netflix_titles.csv')
amazon_movies_df = pd.read_csv('./data/amazon_titles.csv')
disney_movies_df = pd.read_csv('./data/disney_titles.csv')
hbo_movies_df = pd.read_csv('./data/hbo_titles.csv')
hulu_movies_df = pd.read_csv('./data/hulu_titles.csv')
paramount_movies_df = pd.read_csv('./data/paramount_titles.csv')

In [177]:
netflix_movies_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,395024.0,17.770,7.800
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",['US'],NaN,tt0066999,7.7,155051.0,12.817,7.500
8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,"['crime', 'drama', 'action']",['US'],NaN,tt0061418,7.7,112048.0,15.687,7.500
9,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,"['romance', 'action', 'drama']",['US'],NaN,tt0080453,5.8,69844.0,50.324,6.156

In [178]:
netflix_movies_df['platform'] = 'netflix'
disney_movies_df['platform'] = 'disney'
paramount_movies_df['platform'] = 'paramount'
hulu_movies_df['platform'] = 'hulu'
hbo_movies_df['platform'] = 'hbo'
amazon_movies_df['platform'] = 'amazon'

In [179]:
amazon_movies_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,platform
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6,amazon
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,amazon
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8,amazon
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4,amazon
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6,amazon
5,tm160494,Stagecoach,MOVIE,A group of people traveling on a stagecoach fi...,1939,NaN,96,"['western', 'drama']",['US'],NaN,tt0031971,7.8,48149.0,11.786,7.7,amazon
6,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,444243.0,26.495,8.3,amazon
7,tm19424,Detour,MOVIE,"The life of Al Roberts, a pianist in a New Yor...",1945,NaN,66,"['thriller', 'drama', 'crime']",['US'],NaN,tt0037638,7.3,17233.0,7.757,7.2,amazon
8,tm116781,My Man Godfrey,MOVIE,"Fifth Avenue socialite Irene Bullock needs a ""...",1936,NaN,95,"['comedy', 'romance', 'drama']",['US'],NaN,tt0028010,8.0,23532.0,8.633,7.6,amazon
9,tm112005,Marihuana,MOVIE,A young girl named Burma attends a beach party...,1936,NaN,57,"['crime', 'drama']",['US'],NaN,tt0026683,4.0,864.0,3.748,3.6,amazon

In [180]:
dfs = [netflix_movies_df, amazon_movies_df, hulu_movies_df, hbo_movies_df, paramount_movies_df, disney_movies_df]

movies_df = netflix_movies_df._append(amazon_movies_df, ignore_index = True)._append(hulu_movies_df, ignore_index = True)._append(hbo_movies_df, ignore_index = True)._append(paramount_movies_df, ignore_index = True)._append(disney_movies_df, ignore_index = True)

In [181]:
movies_df.shape

(25773, 16)

In [182]:
movies_df = movies_df[movies_df['production_countries'] == '[\'US\']']

In [183]:
# Replace commas with hyphens in the string
movies_df['production_countries'] = movies_df['production_countries'].str.replace('[', '')
movies_df['production_countries'] = movies_df['production_countries'].str.replace(']', '')
movies_df['production_countries'] = movies_df['production_countries'].str.replace('\'', '')

In [184]:
movies_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,platform
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],US,1.0,NaN,NaN,NaN,0.600,NaN,netflix
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",US,NaN,tt0075314,8.2,808582.0,40.965,8.179,netflix
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",US,NaN,tt0068473,7.7,107673.0,10.010,7.300,netflix
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",US,NaN,tt0066999,7.7,155051.0,12.817,7.500,netflix
8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,"['crime', 'drama', 'action']",US,NaN,tt0061418,7.7,112048.0,15.687,7.500,netflix
9,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,"['romance', 'action', 'drama']",US,NaN,tt0080453,5.8,69844.0,50.324,6.156,netflix
11,tm67378,The Professionals,MOVIE,An arrogant Texas millionaire hires four adven...,1966,PG-13,117,"['western', 'action', 'european']",US,NaN,tt0060862,7.3,16446.0,13.123,7.100,netflix
12,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"['comedy', 'documentation']",US,NaN,tt0079807,8.1,5141.0,4.718,7.500,netflix
13,tm16479,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,NaN,115,"['romance', 'comedy']",US,NaN,tt0047673,7.5,42488.0,8.915,7.200,netflix
16,tm156453,FTA,MOVIE,A documentary about a political troupe headed ...,1972,R,97,"['war', 'documentation', 'music', 'comedy']",US,NaN,tt0068562,6.2,418.0,1.268,6.100,netflix

In [185]:
movies_df.shape

(13708, 16)

In [186]:
movies_df['platform'].describe()

count      13708
unique         6
top       amazon
freq        4810
Name: platform, dtype: object

## Cleaning

In [187]:
movies_df.shape

(13708, 16)

In [188]:
movies_df.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'platform'],
      dtype='object')

In [189]:
movies_df = movies_df[['id', 'title', 'type', 'description', 'genres', 'platform']]

In [190]:
movies_df.isnull().sum()

id              0
title           0
type            0
description    31
genres          0
platform        0
dtype: int64

In [191]:
movies_df.dropna(inplace=True)

In [192]:
movies_df.shape

(13677, 6)

In [193]:
movies_df.duplicated().sum()

3

In [194]:
movies_df.iloc[0]

id                                                      ts300399
title                        Five Came Back: The Reference Films
type                                                        SHOW
description    This collection includes 12 World War II-era p...
genres                                         ['documentation']
platform                                                 netflix
Name: 0, dtype: object

In [195]:
movies_df = movies_df.groupby(['id', 'title', 'type', 'description', 'genres'])['platform'].apply(', '.join).reset_index()

In [196]:
movies_df[movies_df['title'] == 'Mission: Impossible II']

,id,title,type,description,genres,platform
4168,tm27395,Mission: Impossible II,MOVIE,With computer genius Luther Stickell at his si...,"['thriller', 'action']",netflix

## Preparation

In [197]:
movies_df.head(10)

,id,title,type,description,genres,platform
0,tm1,Star Wars,MOVIE,Princess Leia is captured and held hostage by ...,"['scifi', 'action', 'fantasy']",disney
1,tm10,The Matrix,MOVIE,"Set in the 22nd century, The Matrix tells the ...","['scifi', 'action']",hbo
2,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...","['western', 'action', 'romance']","amazon, paramount"
3,tm1000095,Deep Down,MOVIE,Mia needs someone to go with her to a fertilit...,[],hbo
4,tm100015,Takers,MOVIE,"A seasoned team of bank robbers, including Gor...","['action', 'crime', 'drama', 'thriller']",netflix
5,tm1000203,Digging to Death,MOVIE,David Van Owen moves into a mysterious house a...,"['horror', 'thriller']",amazon
6,tm1000290,Secrets in the Water,MOVIE,Inspired by a true story. When Mia’s body wash...,['thriller'],amazon
7,tm100035,Captain Kidd's Kids,MOVIE,"After a wild bachelor party, our hero finds hi...",['fantasy'],hbo
8,tm100040,The Lost Jungle,MOVIE,"Clyde Beatty, an animal trainer and circus sta...","['scifi', 'thriller', 'family', 'romance', 'ac...",paramount
9,tm100049,Bumping Into Broadway,MOVIE,A young playwright spends his last cent to pay...,['comedy'],hbo

# Machine Learning

## Installations

In [198]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

## Feature Extraction

In [199]:
cv = CountVectorizer(max_features=50000,stop_words='english')

In [200]:
cv.fit_transform(movies_df['description']).toarray().shape

(12082, 30784)

In [201]:
vectors = cv.fit_transform(movies_df['description']).toarray()

In [202]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [203]:
ps = PorterStemmer()

In [204]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [205]:
movies_df['description'] = movies_df['description'].apply(stem)

In [206]:
similarity = cosine_similarity(vectors)

In [207]:
similarity.shape

(12082, 12082)

In [208]:
similarity[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [209]:
similarity.shape

(12082, 12082)

In [210]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(3283, 0.38124642583151175),
 (7113, 0.24999999999999997),
 (4311, 0.1911797782254681),
 (3080, 0.17213259316477406),
 (4150, 0.16666666666666666)]

## Recommender

In [211]:
def recommend(movies_df, film_type, movie, platforms):
    movie_index = movies_df[movies_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:25]
    recommends = []
    count = 0
    for i in movie_list:
        if count != 5:
            if movies_df.iloc[i[0]].platform in platforms:
                if movies_df.iloc[i[0]].type == film_type:
                    recommends.append(movies_df.iloc[i[0]])
                    print(movies_df.iloc[i[0]])
                    count += 1
        else:
            break
    return recommends

In [212]:
recommend(movies_df,'MOVIE','Mission: Impossible II', ['amazon'])

id                                                      tm138843
title                            The Art of War III: Retribution
type                                                       MOVIE
description    when intern diplomaci come up short, extrem me...
genres                             ['thriller', 'documentation']
platform                                                  amazon
Name: 1672, dtype: object
id                                                      tm342278
title                                                        ATF
type                                                       MOVIE
description    in the wake of the tragic event at waco, texa ...
genres                  ['thriller', 'action', 'crime', 'drama']
platform                                                  amazon
Name: 4713, dtype: object
id                                                      tm126200
title                                                   Mindwarp
type                                                       MOVIE
description    revolt mutant hunt human outcast and undergrou...
genres                           ['horror', 'thriller', 'scifi']
platform                                                  amazon
Name: 1315, dtype: object
id                                                       tm65589
title                                                 Bank Alarm
type                                                       MOVIE
description    a feder agent learn the gangster he' been inve...
genres                             ['crime', 'romance', 'drama']
platform                                                  amazon
Name: 6918, dtype: object
id                                                      tm493744
title                                      The Fighting Preacher
type                                                       MOVIE
description    when willard and rebecca bean are call on a mi...
genres                            ['comedy', 'drama', 'history']
platform                                                  amazon
Name: 6211, dtype: object

[id                                                      tm138843
 title                            The Art of War III: Retribution
 type                                                       MOVIE
 description    when intern diplomaci come up short, extrem me...
 genres                             ['thriller', 'documentation']
 platform                                                  amazon
 Name: 1672, dtype: object,
 id                                                      tm342278
 title                                                        ATF
 type                                                       MOVIE
 description    in the wake of the tragic event at waco, texa ...
 genres                  ['thriller', 'action', 'crime', 'drama']
 platform                                                  amazon
 Name: 4713, dtype: object,
 id                                                      tm126200
 title                                                   Mindwarp
 type                                                       MOVIE
 description    revolt mutant hunt human outcast and undergrou...
 genres                           ['horror', 'thriller', 'scifi']
 platform                                                  amazon
 Name: 1315, dtype: object,
 id                                                       tm65589
 title                                                 Bank Alarm
 type                                                       MOVIE
 description    a feder agent learn the gangster he' been inve...
 genres                             ['crime', 'romance', 'drama']
 platform                                                  amazon
 Name: 6918, dtype: object,
 id                                                      tm493744
 title                                      The Fighting Preacher
 type                                                       MOVIE
 description    when willard and rebecca bean are call on a mi...
 genres                            ['comedy', 'drama', 'history']
 platform                                                  amazon
 Name: 6211, dtype: object]

## Testing

In [213]:
def recommendation_accuracy(df, type, title, platforms):
    recommends = recommend(df, type, title, platforms)
    total = len(recommends)
    count = 0
    for x in recommends:
        if movies_df[movies_df['title']==x].type.values[0] == type:
            count += 0.5
        if movies_df[movies_df['title']==x].platform.values[0] in platforms:
            count += 0.5
    return "%.0f%%" % (100 * count/total)

In [214]:
recommendation_accuracy(movies_df,'MOVIE','Mission: Impossible II', ['hulu', 'netflix'])

id                                                      tm166978
title                       Mission: Impossible - Ghost Protocol
type                                                       MOVIE
description    ethan hunt and hi team are race against time t...
genres                                    ['thriller', 'action']
platform                                                 netflix
Name: 2518, dtype: object
id                                                      tm461829
title                                               The Hard Way
type                                                       MOVIE
description    after learn of hi brother' death dure a missio...
genres                                                ['action']
platform                                                 netflix
Name: 5936, dtype: object
id                                                      tm244332
title                                                     Beirut
type                                                       MOVIE
description    in 1980 beirut, mason skile is a former u.s. d...
genres                  ['thriller', 'drama', 'action', 'crime']
platform                                                 netflix
Name: 3877, dtype: object

ValueError: Can only compare identically-labeled Series objects

In [ ]:
movies_df[movies_df['title']=='11M']

,id,title,type,description,genres,platform
2153,tm1172600,11M,MOVIE,"survivor and insid recount march 11, 2004' ter...",['documentation'],netflix